.rockstar-top{
    width: 100%;
    height: 150px;
    border: 1px solid red;
}

.rockstar-top-title{
    width: 1505px;
    height: 49.2px;
    padding: 0px 15px;
    margin-top: 99px;
    border: 1px solid blue;
}


.rockstar-top-title ul{
    list-style-type: none;
}

.rockstar-top-title ul li{
    width: 82px;
    height: 19px;
    float: left;
    margin-right: 20px;
    padding: 15px 4px;
}

.rockstar-top-title ul li a{

}

